<h1><%= t('users.new')%></h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <%= render :partial=>"user_fields", :locals=>{:f=>f}%>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
